<div class="page-static panel panel-default">
        <div class="panel-heading">
          <img ng-src="{{imageBg}}" >
          <div id="current-title" class="panel-title title">2016德格光明行</div>
        </div>
        <div class="panel-body">
          <p>
            在遥远的四川省甘孜藏族自治州德格县，生活着一群善良淳朴的藏族人民，他们离太阳很近，离光明却很远。高原的空气稀薄、紫外线强使得德格人民的白内障患病率极高。因缺乏对眼疾的认知以及获得眼防护知识渠道的匮乏，加之生活条件的贫苦，他们往往在拖延治疗中走向失明的痛苦与暗淡。很多家庭也因丧失了劳动力，使原本的清苦生活更是雪上加霜。
          </p>
          <p>
            为了帮助他们重见光明，重拾生活信心，海航集团将延续十二年来对白内障患者的关爱，于2016年７月2日至7月12日举办“海航德格光明行”活动，携手眼科专家为甘孜的白内障患者进行免费医治手术。
          </p>
          <p>
            如果您也是一位有心的公益支持者，想为他们传递更多的用眼知识；如果您也热爱高原山河和民族文化，想感受他们淳朴民俗民风；请关注我们，加入我们，让我们共同用关爱的力量，为他们点亮光明。
          </p>
          <div>
            <p class="text-center">
              <span>|</span>
              多方沟通
              <span>|</span>
            </p>
            <p class="text-center">2016年4月4日-4月10日，光明行考察小组赴四川省甘孜藏族自治州德格县调研。</p>
            <div class="row center-block">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="thumbnail">
                  <img ng-src="{{pic_one}}" alt="...">
                  <div class="caption">
                    <p>光明行考察小组与德格县政府医院沟通，了解德格当地情况，争取各方支持。</p>

                  </div>
                </div>
              </div>
            </div>
            <div class="row center-block">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="thumbnail">
                  <img ng-src="{{pic_two}}" alt="...">
                  <div class="caption">
                    <p>在甘孜州人民医院调研当地白内障患病总体情况</p>

                  </div>
                </div>
              </div>
            </div>
            <div class="row center-block">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="thumbnail">
                  <img ng-src="{{pic_three}}" alt="...">
                  <div class="caption">
                    <p>德格县医院手术间，该院未设置眼科，由五官科总体统筹，门诊及手术室无眼科相关设备，这间手术间就是德格光明行的手术实施空间。</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="text-center">
              <span>|</span>
              高原缺氧
              <span>|</span>
            </p>
            <div class="row center-block">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="thumbnail">
                  <img ng-src="{{pic_four}}" alt="...">
                  <div class="caption">
                    <p>
                      刚到康定机场，风景很美，我们很晕。康定机场是一个中国四川省的民用机场，地处康定市折多山斯木措，海拔4290米，是世界第三高海拔机场。
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="text-center">
              <span>|</span>
              路途艰险
              <span>|</span>
            </p>
            <div class="row center-block">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="thumbnail">
                  <img ng-src="{{pic_five}}" alt="...">
                  <div class="caption">
                    <p>
                      雀儿山山脉以险为名，山区海拔5000米以上有数十座之多，最高峰海拔6168米，该山山势挺拔，壁立于周围十座5500米的群峰之上，有“川藏第一高、川藏第一险”之称。同时此路段下午六点后限时进入。
                    </p>

                  </div>
                </div>
              </div>
            </div>
            <div class="row center-block">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="thumbnail">
                  <img ng-src="{{pic_six}}" alt="...">
                  <div class="caption">
                    <p>
                      卓达拉山，甘孜至德格途经，属沙鲁里山脉的莫拉山，海拔4798米，山势险峻、怪石嶙峋，位于四川省甘孜县与白玉县交界之处甘孜镇南部甘白路上。
                    </p>

                  </div>
                </div>
              </div>
            </div>
            <div class="row center-block">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="thumbnail">
                  <img ng-src="{{pic_seven}}" alt="...">
                  <div class="caption">
                    <p>海航历年光明行以超声乳化术式为主，需携带精密仪器，但山路颠簸，仪器极易损坏，可能造成一定损失。</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="text-center">
              <span>|</span>
              收获美景
              <span>|</span>
            </p>
            <div class="row center-block">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="thumbnail">
                  <img ng-src="{{pic_eight}}" alt="...">
                  <div class="caption">
                    <p>甘孜县是一座多山的县城，境内山环水绕，县城海拔3390米，甘孜为寺庙名称，意为洁白美丽的地方，拥有1300年建制史。</p>

                  </div>
                </div>
              </div>
            </div>
            <div class="row center-block">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="thumbnail">
                  <img ng-src="{{pic_nine}}" alt="...">
                  <div class="caption">
                    <p>
                      德格县隶属四川省甘孜藏族自治州，是我们此次光明行地点，位于甘孜藏族自治州西北部，地处东经98°12′~98°41′，北纬31°24′~32°43′之间，东与甘孜县毗邻，南与白玉县相接，西与西藏江达县隔金沙江相望，北与石渠县接壤，地处金沙、雅砻江上游。县境总面积11025.24平方千米，以藏族为主。
                    </p>

                  </div>
                </div>
              </div>
            </div>
            <div class="row center-block">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="thumbnail">
                  <img ng-src="{{pic_ten}}" alt="...">
                  <div class="caption">
                    <p>一路上都可以看到美丽别致的藏式民居</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

