<div class="page-static panel">
    <div class="panel-heading">
      <p class="panel-title title">海航光明行十一年回顾</p>
    </div>
        <div class="panel-body" >
          <div>
            <p>
              白内障是全世界致盲和视力障碍的主要原因,全世界有2000万因白内障致盲的患者。而我国有白内障患者670万,每年新增的白内障盲人约130万。80岁以上的老人其患病率几乎达100%。
            </p>
            <p>
              2003年，全国防盲技术指导组发起推动防盲治盲的“光明行动”，海航也以自己的实际行动帮助国内边远地区和少数民族地区白内障患者进行复明治疗，帮助他们重见光明。
            </p>

            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_one}}" alt="...">
                  <div class="caption">
                    <p>
                      2004年7月,海航在青海正式启动“海航——青藏高原10年光明行”活动，与全国防盲技术指导组、北京同仁医院一起，先后在全国等地为近5300名各民族贫困白内障患者进行了复明治疗，得到了当地政府和群众的高度赞扬。
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_two}}" alt="...">
                  <div class="caption">
                    <p>
                      2005年7月“海航——西藏光明行”在拉萨正式启动。专门邀请眼科专家对西藏200多位贫困白内障患者无偿进行复明手术，并帮助建立西藏自治区防盲指导组，举办常见致盲眼病培训班。
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_three}}" alt="...">
                  <div class="caption">
                    <p>
                      2005年10月"海航——青藏高原光明行"走进四川理塘，对当地200位贫困白内障患者无偿进行复明手术，帮助弱视白内障患者走出困境。
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_four}}" alt="...">
                  <div class="caption">
                    <p>
                      2006年8月海航—青藏高原光明行（青海站）正式启动，海航集团捐款30万元。在青海囊谦举行的义诊活动，共为60名白内障患者安装了人造晶体。
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_five}}" alt="...">
                  <div class="caption">
                    <p>
                      2006年8月“海航内蒙光明行”进行，除为白内障患者实施复明手术外，还对内蒙防盲工作的落实情况、防盲战略、规划进行研讨，对医务人员进行防盲技术和管理的培训等。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_six}}" alt="...">
                  <div class="caption">
                    <p>2006年12月，海南光明行全面启动，光明行医疗队赴海南各市县，为500名贫困白内障患者实施复明手术。</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_seven}}" alt="...">
                  <div class="caption">
                    <p>
                      2007年9月，海航集团与香港慈善基金会等机构和个人捐赠127万元开展"新疆光明行"活动，为期两周，分别在库尔勒和伊犁为约1000名贫困白内障患者免费实施复明手术。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_eight}}" alt="...">
                  <div class="caption">
                    <p>2007年12月，“海航甘肃光明行”启动，海航集团与其他社会爱心单位和个人捐赠100万元，为约500名患者实施复明手术。</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_nine}}" alt="...">
                  <div class="caption">
                    <p>
                      2010年9月，在海航集团的赞助下，光明行医疗队为甘肃甘南藏族自治州夏河县及周边白内障患者提供免费治疗，并向当地医院赠送防盲医疗手册。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_ten}}" alt="...">
                  <div class="caption">
                    <p>
                      2010年11月，“海航光明行”从中国走向世界，共在马拉维、津巴布韦派出3支医疗队，在5个工作日内完成612例（马拉维302例，津巴布韦310例）免费白内障手术。海航集团资助671万元为光明行医疗队提供包机服务。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_eleven}}" alt="...">
                  <div class="caption">
                    <p>
                      2011年3月，海航集团在"2011中非光明行之津巴布韦"活动中共为514名当地白内障患者实施了复明手术并资助659万元，为光明行医疗队提供了包机服务。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_twelve}}" alt="...">
                  <div class="caption">
                    <p>
                      "2011中非光明行之莫桑比克"活动共为300名当地白内障患者实施了复明手术。海航集团资助625万元，为光明行医疗队提供了包机服务。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <p>
              2012年9月23日，联合国“南南奖”颁奖仪式在美国纽约举行。海航因连续8年与北京同仁医院联合开展光明行活动，荣膺2012年“南南奖-企业社会责任奖”。
            </p>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_thirteen}}" alt="...">
                  <div class="caption">
                    <p>
                      2012年10月，"湖北宜昌光明行"活动在湖北省长阳土家族自治县顺利举行，海航集团在医疗器械采购、患者手术、宣传推广、医疗队及患者交通住宿等方面资助100万元，共为长阳、当阳等地247名贫困白内障患者免费实施复明手术。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_fourteen}}" alt="...">
                  <div class="caption">
                    <p>
                      2013年8月“海航囊谦光明行”在青海省玉树藏族自治州囊谦县人民医院启动，此次光明行为该地区超过240名贫困白内障患者免费实施复明手术。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_fifteen}}" alt="...">
                  <div class="caption">
                    <p>
                      2014年8月23日-9月2日，海航光明行在青海囊谦、班玛以及四川甘孜举行，总参加人数超过8000人，共有538名白内障患者顺利完成手术而重见光明。特别将班玛1名1岁半先天性白内障患儿德邓措送至北京治疗，顺利完成手术。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_sixteen}}" alt="...">
                  <div class="caption">
                    <p>
                      2015年，海航•锡林郭勒光明行活动于6月30日-7月4日在内蒙古自治区锡林郭勒盟顺利举行，活动为104名白内障患者顺利完成手术而重见光明；
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="thumbnail">
                  <img ng-src="{{pic_his_seventeen}}" alt="...">
                  <div class="caption">
                    <p>2015年海航•囊谦光明行活动于8月在青海囊谦举办，共帮助550人重获光明。</p>
                  </div>
                </div>
              </div>
            </div>

            <p>“让越来越多的人重新看见世界，我们只是借了神的光”</p>
            <p>这样的善举不仅仅是依靠、止于一个或几个品牌，若想让更多的人感受光明带来的生命之美，需要更多的社会力量。</p>
          </div>
        </div>
      </div>
</div>
