<div class="hotel-list">
  <div class="panel info-panel patient-info">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="icon ui-icon-hotel"></i>酒店列表</h3>
      <button ng-if="vm.showUpdateButton" class="btn btn-lg btn-submit pull-right" id="add" ui-sref="base.hotel.form">添加酒店</button>
    </div>
    <div class="panel-body">
      <div class="hotel-list-table">
        <table class="table panel-table">
          <thead></thead>
          <tbody>
          <tr ng-repeat="hotel in vm.hotelList track by $index" id="hotel{{$index}}">
            <td class="td-content" id="name{{$index}}">{{hotel.name}}</td>
            <td class="td-button">
              <button class="btn btn-small btn-view" id="view{{$index}}" ui-sref="base.hotel.view({id: hotel._id})">查看</button>
            </td>
            <td ng-if="vm.showUpdateButton" class="td-button">
              <button class="btn btn-small btn-delete" id="delete{{$index}}" ng-click="vm.deleteHotel(hotel)">删除</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
