
<div class="panel info-panel patient-info">
  <div class="panel-body">
    <form name="resetPasswordForm" novalidate>

      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6 col-lg-offset-3">
          <div class="form-group"
               ng-class="{'has-error': vm.requiredField(resetPasswordForm.oldPassword, resetPasswordForm)}">
            <label for="oldPassword" class="required-label">原始密码</label>
            <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                   ng-model="vm.oldPassword" required>
            <p class="help-block"
               ng-show="vm.requiredField(resetPasswordForm.oldPassword, resetPasswordForm)" id="oldPasswordErrorMessage">
              <i class="glyphicon glyphicon-remove-circle"></i>请填写原始密码
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6 col-lg-offset-3">
          <div class="form-group"
               ng-class="{'has-error': vm.requiredField(resetPasswordForm.newPassword, resetPasswordForm)}">
            <label for="newPassword" class="required-label">新密码</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword"
                   ng-model="vm.newPassword" required>
            <p class="help-block"
               ng-show="vm.requiredField(resetPasswordForm.newPassword, resetPasswordForm)" id="newPasswordErrorMessage">
              <i class="glyphicon glyphicon-remove-circle"></i>请填写新密码
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6 col-lg-offset-3">
          <div class="form-group"
               ng-class="{'has-error': vm.requiredField(resetPasswordForm.reNewPassword, resetPasswordForm)}">
            <label for="reNewPassword" class="required-label">重复新密码</label>
            <input type="password" class="form-control" id="reNewPassword" name="reNewPassword"
                   ng-model="vm.reNewPassword" required>
            <p class="help-block"
               ng-show="vm.requiredField(resetPasswordForm.reNewPassword, resetPasswordForm)" id="reNewPasswordErrorMessage">
              <i class="glyphicon glyphicon-remove-circle"></i>请重复填写新密码
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6 col-lg-offset-3">
          <button type="submit" class="btn btn-lg btn-submit" id="submit" name="submit" ng-click="vm.submitForm(resetPasswordForm)">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
