<div class="hna-time-picker" ng-class="{'has-error': invalidTime}">
  <div class="form-control">
    <div class="time-part time-part-input" uib-dropdown>
      <a uib-dropdown-toggle>{{viewTime.hour}}</a>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu">
        <li role="menuitem" ng-repeat="hour in timeOptions.hours">
          <a ng-click="updateHour(hour)">{{hour}}</a>
        </li>
      </ul>
    </div>
    <div class="time-part time-part-separation">
      <span>:</span>
    </div>
    <div class="time-part time-part-input" uib-dropdown>
      <a uib-dropdown-toggle>{{viewTime.minute}}</a>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu">
        <li role="menuitem" ng-repeat="minute in timeOptions.minutes">
          <a ng-click="updateMinute(minute)">{{minute}}</a>
        </li>
      </ul>
    </div>
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>

  <p class="help-block" ng-show="invalidTime">
    <i class="glyphicon glyphicon-remove-circle"></i>请填写正确时间
  </p>
</div>
