<div class="feedback-form">
  <div class="panel info-panel">
    <div class="panel-body"></div>
    <form name="feedbackForm" novalidate>
      <div class="form-group">
        <label for="score">本次光明行的评分</label>
        <div class="radio" ng-repeat="score in vm.scoreOptions track by $index">
          <label><input id="score{{$index}}" type="radio" value="{{score}}" ng-model="vm.feedback.score"/>{{score}}分</label>
        </div>
      </div>

      <div class="form-group">
        <label for="well">做的好的</label>
        <textarea class="form-control" name="well" id="well" rows="3" maxlength="300"
                  ng-model="vm.feedback.well"></textarea>
      </div>

      <div class="form-group">
        <label for="lessWell">做的不好的</label>
        <textarea class="form-control" name="lessWell" id="lessWell" rows="3" maxlength="300"
                  ng-model="vm.feedback.less_well"></textarea>
      </div>

      <div class="form-group">
        <label for="otherComment">还想说点什么</label>
        <textarea class="form-control" name="otherComment" id="otherComment" rows="3" maxlength="300"
                  ng-model="vm.feedback.other_comment"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-submit" id="submit" name="submit"
                ng-click="vm.submit(feedbackForm)">提交
        </button>
      </div>
    </form>
  </div>
</div>
