.hospital-list {
  .panel-heading {
    border: none;
  }
  .hospital-list-table {
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 4px;
    table {
      .td-content {
        width: 80%;
      }
      .td-button {
        width: 10%;
      }
      button {
        width: 80%;
      }
    }
  }
}
