<div class="required-tips">
  <h6>*为必填项</h6>
</div>
<div class="hospital-form">
  <div class="panel info-panel">
    <div class="panel-body">
      <form name="hospitalForm" class="panel-form" novalidate>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group"
                 ng-class="{'has-error':vm.requiredField(hospitalForm.name, hospitalForm)}">
              <label class="required-label" for="name">医院名称</label>
              <input class="form-control" type="text" name="name" id="name"
                     ng-model="vm.investigation_hospital.name" maxlength="30" required>
              <p class="help-block"
                 ng-show="vm.requiredField(hospitalForm.name, hospitalForm)">
                <i class="glyphicon glyphicon-remove-circle"></i>请填写医院名称
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
              <label for="address">医院地址</label>
              <input class="form-control" type="text" name="address" id="address"
                     ng-model="vm.investigation_hospital.address" maxlength="100">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
              <label for="contactName">联系人</label>
              <input class="form-control" type="text" name="contactName" id="contactName"
                     ng-model="vm.investigation_hospital.contact_name" maxlength="10">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
              <label for="contactTelephone">联系方式</label>
              <input class="form-control" type="text" name="contactTelephone" id="contactTelephone"
                     ng-model="vm.investigation_hospital.contact_tel" maxlength="30">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
              <label class="required-label">医院地理位置</label>
              <hna-geo-map lng="vm.investigation_hospital.hospital_location.longitude"
                           lat="vm.investigation_hospital.hospital_location.latitude"
                           address="vm.investigation_hospital.hospital_location.address"
                           draggable="true"></hna-geo-map>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
              <label>科室设置</label>
              <div class="radio" ng-repeat="set in vm.departmentSets">
                <label>
                  <input type="radio" ng-model="vm.investigation_hospital.has_ophthalmology_department"
                         value={{set}}>{{set}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
              <label>现有仪器</label>
              <div class="checkbox" ng-repeat="equipment in vm.equipments">
                <label>
                  <input type="checkbox" value={{equipment}}
                         ng-checked="vm.investigation_hospital.equipments.indexOf(equipment) > -1"
                         ng-click="vm.toggleSelection(equipment, vm.investigation_hospital.equipments)">{{equipment}}</label>
              </div>
              <div class="checkbox checkbox-other clearfix">
                  <label><input type="checkbox" ng-checked="!!vm.others"> 其它</label>
                <input type="text" class="form-control" ng-model="vm.others" name="other" id="other" maxlength="100">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group"
                 ng-class="{'has-error':vm.invalidNumber(hospitalForm.operationRoomCount, hospitalForm)}">
              <label for="operationRoomCount">手术室数量</label>
              <input class="form-control" type="number" name="operationRoomCount" id="operationRoomCount"
                     ng-model="vm.investigation_hospital.operation_room_count" min="0" max="99999">
              <p class="help-block"
                 ng-show="vm.invalidNumber(hospitalForm.operationRoomCount, hospitalForm)">
                <i class="glyphicon glyphicon-remove-circle"></i>数字范围为0-99999
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group"
                 ng-class="{'has-error':vm.invalidNumber(hospitalForm.doctorCount, hospitalForm)}">
              <label for="doctorCount">眼科医生数量</label>
              <input class="form-control" type="number" name="doctorCount" id="doctorCount"
                     ng-model="vm.investigation_hospital.doctor_count" min="0" max="99999">
              <p class="help-block"
                 ng-show="vm.invalidNumber(hospitalForm.doctorCount, hospitalForm)">
                <i class="glyphicon glyphicon-remove-circle"></i>数字范围为0-99999
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group"
                 ng-class="{'has-error':vm.invalidNumber(hospitalForm.nurseCount, hospitalForm)}">
              <label for="nurseCount">护士数量</label>
              <input class="form-control" type="number" name="nurseCount" id="nurseCount"
                     ng-model="vm.investigation_hospital.nurse_count" max="99999">
              <p class="help-block"
                 ng-show="vm.invalidNumber(hospitalForm.nurseCount, hospitalForm)">
                <i class="glyphicon glyphicon-remove-circle"></i>数字范围为0-99999
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>医院照片</label>
            <div class="row">
              <ul ng-if="vm.temporaryPhotos.length" class="photos">
                <li ng-repeat="photo in vm.temporaryPhotos">
                  <a target="_blank" href="{{photo.file.src}}">
                    <img class="img-responsive img-rounded" ng-src="{{photo.file.src}}">
                  </a>
                  <button type="button" class="btn btn-danger btn-xs" ng-click="vm.delete(photo)">
                    <span class="glyphicon glyphicon-trash"></span> 删除
                  </button>
                  <div class="progress" ng-show="photo.progress >= 0 && photo.progress != 100">
                    <div class="progress-bar" role="progressbar" ng-style="{'width': photo.progress + '%'}"></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="file-upload">
                <div class="upload-box drop-zone"
                     ngf-drop="vm.uploadFiles($file, $invalidFiles)"
                     ngf-drag-over-class="'drag-over'"
                     ngf-pattern="'image/*'"
                     ngf-max-size="10MB">
                  <button class="btn btn-xxl btn-view" id="upload" type="button"
                          ngf-select="vm.uploadFiles($file, $invalidFiles)"
                          ngf-pattern="'image/*'"
                          ngf-max-size="10MB">文件上传
                  </button>
                  <p class="upload-tips">请选择或拖拽上传文件(PNG, JPG, JPEG, GIF), 最多6个, 限制每个文件大小10M以内</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>医院考察结论</label>
            <textarea class="form-control" name="result" id="result" ng-model="vm.investigation_hospital.result"
                      rows="3" maxlength="300">

            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div>
              <label>是否满足需求</label>
            </div>
            <div>
              <div class="radio-inline">
                <label>
                  <input type="radio" ng-model="vm.investigation_hospital.is_match_required" value="满足">满足</label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" ng-model="vm.investigation_hospital.is_match_required" value="不满足">不满足</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-3 col-lg-2" ng-if="vm.showButton">
            <button class="btn btn-lg btn-cancel" id="back" name="back"
                    ui-sref="base.hospital.view({id: vm.investigation_hospital._id})">返回
            </button>
          </div>
          <div class="col-xs-6 col-md-3 col-lg-2">
            <button type="submit" class="btn btn-lg btn-submit" id="submit" name="submit"
                    ng-click="vm.submitForm(hospitalForm)">提交
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

